/* macOS code block style - from https://juejin.cn/post/7516897449546711076 */

/* Add shadow and top padding */
.vp-doc div[class*="language-"] {
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 40%);
  padding-top: 20px;
}

/* macOS traffic lights (red, yellow, green) */
.vp-doc div[class*="language-"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  background-color: #ff5f56;
  border-radius: 50%;
  box-shadow: 20px 0 0 #ffbd2e, 40px 0 0 #27c93f;
  z-index: 1;
}

/* Adjust line numbers position and hide right border */
.vp-doc .line-numbers-wrapper {
  padding-top: 40px;
  border-right: none;
}

/* Rebuild line numbers right border */
.vp-doc .line-numbers-wrapper::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  border-right: 1px solid var(--vp-code-block-divider-color);
  height: calc(100% - 60px);
}

/* Add bottom margin for line numbers mode */
.vp-doc div[class*="language-"].line-numbers-mode {
  margin-bottom: 20px;
}
